<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-12 col-md-5 col-sm-6">
            <h2>Edit article</h2>
            <%= render 'form' %>
        </section>
    </section>
</section>