<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-12 col-md-3 col-sm-3"></section>
        <section class="col-12 col-md-5 col-sm-6">
            <h2>Create a new article</h2>
            <%= render 'form' %>
        </section>
        <section class="col-12 col-md-4 col-sm-3">
            <%= link_to 'Create a new Category', new_category_path, class: "btn btn-primary" %>
        </section>
    </section>
</section>
