nav {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 0.8rem;
  font-weight: 600;
}

.navbar-brand {
  font-size: 1.8rem;

  .dot {
    font-size: 1.5rem;
    color: #fa6000;
  }
}
